html, body {
  font-family: 'Roboto Slab', serif;
}

/* Header
-------------------------------------------------------*/
header {	
		
}

/* Navegação
-------------------------------------------------------*/
nav {  
  border: 1px solid rgba(0,0,0,0.1);
  margin-bottom: 15px;  
}

nav ul li {
	padding: 10px;
	list-style: none;
	display: inline-block;	
	vertical-align: top;	
	border-left: 1px solid rgba(0,0,0,0.1);
}

nav ul li:last-child {
  border-right: 1px solid rgba(0,0,0,0.1);
}
  nav ul li a {
  	text-decoration: none;
  }

/* Boxs
-------------------------------------------------------*/

/* Black 
=============*/
.fi-box-black {
	background-color: #333;
	color: #fff;
	margin-top: 20px;
	padding: 20px;
	min-height: 130px;
}

/* Links
-------------------------------------------------------*/
a { color: rgba(0,0,0,0.7); }
a:hover { color: rgba(0,0,0,0.9); }


/* Listas
-------------------------------------------------------*/
.fi-list li {
	margin-left: 40px;
}

/* Parágrafos
-------------------------------------------------------*/
p {
	margin: 10px 0px 10px 0px;
}
