<div class="container12">
  <div class="column12">
		
		<h3>Todas as dependências</h3>
		
		<p>Segue abaixo a lista de todas as bibliotecas de terceiros utilizadas nesse projeto.</p>

		<ul class="fi-list">
			<li>JS</li>
			<li><a href="https://github.com/angular/bower-angular">Angular</a></li>
			<li><a href="https://github.com/angular/bower-angular-route">Angular-route</a></li>
			<li>CSS</li>		
			<li><a href="https://github.com/aosmialowski/1140px-Responsive-CSS-Grid">1140px-responsive-css-grid</a></li>
			<li><a href="https://github.com/FortAwesome/Font-Awesome">Fontawesome</a></li>
		</ul>

  </div>
</div>