<div class="container12">
  <div class="column12">
    Esse é um pequeno template para acelerar o processo de desenvolvimento web. Como é comum a maioria dos projetos realizados por nós ultimamente. Ele tem o objetivo de automatizar algo que se tornou padrão para a criação de um novo website simples com angular. 
  </div>

  <div class="column4">
    <div class="fi-box-black">
      <h2>Eu sou lindo! Me ame!</h2>
      <p>Aqui é um exemplo do que se pode fazer com o 1140px.css. Entre no site do framework para mais informações.</p>
    </div>
  </div>

  <div class="column4">
    <div class="fi-box-black">
      <h2>Sou sexy sem ser vulgar!</h2>
      <p>É realmente muito simples utilizar esse framework(1140.css). Já falei que sou responsivo?</p>
    </div>
  </div>

  <div class="column4">
    <div class="fi-box-black">
      <h2>Nada do que foi será do jeito que um dia já foi!</h2>
      <p>Caso não queira utilizar o 1140.css é só remover de vendor e do bower.json.</p>
    </div>
  </div>
</div>